# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [3]:
data=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
k=3
seq_count=len(data)-k+1
avg=0
for i in range(seq_count):
    for j in range(k):
        avg+=data[i+j]
    print('y{}'.format(i+1),avg/k)

y1 5.0
y2 9.666666666666666
y3 15.333333333333334
y4 22.0
y5 31.666666666666668
y6 60.333333333333336
y7 109.66666666666667
y8 182.33333333333334
y9 266.3333333333333
y10 359.6666666666667
y11 476.0

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [9]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
data=list(df['X'])
result=[]
pos=0
for i in data:
    if i==0:
        result.append(0)
        pos=0
    else:
        pos+=1
        result.append(pos)
df['Y']=result
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [26]:
import pandas as pd
import datetime
import numpy as np

DatetimeIndex=pd.date_range('2015-01-01','2015-12-31',freq='B')

df=pd.Series(np.random.randn(len( DatetimeIndex)),index= DatetimeIndex)
df

2015-01-01   -1.585965
2015-01-02    0.723031
2015-01-05   -1.195897
2015-01-06    1.385600
2015-01-07   -0.215271
2015-01-08   -0.034601
2015-01-09    1.447789
2015-01-12   -0.279664
2015-01-13   -0.653294
2015-01-14   -1.971497
2015-01-15   -0.297901
2015-01-16   -1.923747
2015-01-19   -0.310617
2015-01-20    1.511046
2015-01-21   -0.598327
2015-01-22   -1.822681
2015-01-23    0.363636
2015-01-26    0.256526
2015-01-27    0.051563
2015-01-28   -0.173428
2015-01-29    1.935270
2015-01-30   -1.134715
2015-02-02    0.351733
2015-02-03   -0.428685
2015-02-04    1.678312
2015-02-05    0.230201
2015-02-06   -0.909422
2015-02-09    0.579002
2015-02-10   -0.678994
2015-02-11   -0.212723
                ...
2015-11-20   -0.169436
2015-11-23    2.815846
2015-11-24    1.003735
2015-11-25   -1.292834
2015-11-26    2.229826
2015-11-27   -2.303676
2015-11-30    0.047949
2015-12-01   -1.082781
2015-12-02    2.229238
2015-12-03   -0.144833
2015-12-04   -0.000453
2015-12-07   -0.412072
2015-12-08   -0.410512
2015-12-09    1.859308
2015-12-10   -0.622231
2015-12-11    0.857006
2015-12-14   -0.807758
2015-12-15   -1.100347
2015-12-16    1.034354
2015-12-17    0.180622
2015-12-18    1.462688
2015-12-21    1.094866
2015-12-22   -1.367076
2015-12-23   -1.421970
2015-12-24    0.763338
2015-12-25    0.150555
2015-12-28    0.415520
2015-12-29   -0.481423
2015-12-30    0.006795
2015-12-31   -1.775371
Freq: B, Length: 261, dtype: float64

Q.4